venv
__pycache__
*.swp
*.png
*.npz
state_dicts.zip
*.pt
wandb/*
outputs/*
context.txt
junk/audio_cache/-1eKufUP5XQ_4.wav
junk/audio_cache/-2KGPYEFnsU_8.wav
junk/audio_cache/-2KGPYEFnsU_11.wav
junk/audio_cache/audio_status.json
junk/audio_cache/M2Ohb0FAaJU_1.wav

logs/*
wandb/*