mediapipe
rich
opencv-python
gdown
hsemotion_onnx
insightface
transformers
decord
torchaudio
seaborn
hydra-core
rich 
git+https://github.com/pythonprofilers/memory_profiler.git
textual_image
git+https://github.com/johndpope/L2CS-Net.git@main
opencv-python
omegaconf
einops
scipy
scikit-image
lpips
pytorch_msssim
matplotlib
# stage2
h5py
facenet_pytorch
accelerate
wandb